<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/head") %>
    <title>pato crearte</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("./partials/header")%>
    <main class="main-pd">
      <section>
        <div class="carrusel">
          <ul class="carrusel-fotos">
            <li id="foto1">
              <a href="#"><img src="/img/tabla15.jpg" alt="" /></a>
            </li>
            <li id="foto2">
              <a href="#"><img src="/img/tabla9.jpg" alt="" /></a>
            </li>
            <li id="foto3">
              <a href="#"><img src="/img/tabla8.jpg" alt="" /></a>
            </li>
            <li id="foto4">
              <a href="#"><img src="/img/tabla7.jpg" alt="" /></a>
            </li>
            <li id="foto5">
              <a href="#"><img src="/img/tabla4.jpg" alt="" /></a>
            </li>
            <li id="foto6">
              <a href="#"><img src="/img/tabla3.jpg" alt="" /></a>
            </li>
          </ul>
          <ul class="carrusel-menu">
            <li>
              <a href="#foto1"><img src="/img/tabla15.jpg" alt="" /></a>
            </li>
            <li>
              <a href="#foto2"><img src="/img/tabla9.jpg" alt="" /></a>
            </li>
            <li>
              <a href="#foto3"><img src="/img/tabla8.jpg" alt="" /></a>
            </li>
            <li>
              <a href="#foto4"><img src="/img/tabla7.jpg" alt="" /></a>
            </li>
            <li>
              <a href="#foto5"><img src="/img/tabla4.jpg" alt="" /></a>
            </li>
            <li>
              <a href="#foto6"><img src="/img/tabla3.jpg" alt="" /></a>
            </li>
          </ul>
        </div>
      </section>
      <section class="container-metodos">
        <div class="metodos2">
          <div class="metodos">
            <img src="/img/camion.png" alt="logo-camion" class="iconos" />
            <p class="metodos-de-pago">¡Envios a todo el pais!</p>
          </div>
          <div class="metodos">
            <i class="fa-solid fa-credit-card" id="tarjeta"></i>
            <p class="metodos-de-pago">¡Variedad en medios de pago!</p>
          </div>
          <div class="metodos">
            <img src="/img/whatsapp.png" alt="wpp" class="iconos" />
            <p class="metodos-de-pago">
              whatsapp <br />
              2995855709
            </p>
          </div>
        </div>
      </section>
      <h3 class="titulos">Ofertas</h3>
      <section class="main-recomend">
        <%for(let i = 0; i<4;i++){%> <%- include("./partials/product",{i:i}) %>
        <%}%>
      </section>
      <h3 class="titulos">¡Gran variedad!</h3>
      <section class="cuadros3">
        <div class="cuadros3-2">
          <article class="cuadros3-3">
            <a href="#">
              <img src="/img/platos-enl.jpg" alt="tabla" class="cuadros3-img"
            /></a>
          </article>
          <article class="cuadros3-3">
            <a href="#"
              ><img
                src="/img/muchasTablas-enl.jpg"
                alt="tabla"
                class="cuadros3-img"
              />
            </a>
          </article>
          <article class="cuadros3-3">
            <a href="#"
              ><img src="/img/bowls-enl.jpg" alt="tabla" class="cuadros3-img"
            /></a>
          </article>
        </div>
      </section>
      <h3 class="titulos">Lo mas vendido!</h3>
      <section class="main-recomend">
        <%for(let i = 0; i<4;i++){%> <%- include("./partials/product",{i:i}) %>
        <%}%>
      </section>
      <section class="instagram-fast">
        <h2 class="titulos">instagram</h2>
        <div class="instagram-fast2">
          <article class="instagram-fast3">
            <a
              href="https://www.instagram.com/p/CbSt3cxuwW7/?utm_medium=copy_link"
            >
              <img
                src="/img/insta1.jpg"
                alt="instagram-tabla"
                class="instagram-img"
            /></a>
          </article>
          <article class="instagram-fast3">
            <a
              href="https://www.instagram.com/p/CbQkkZbu3MS/?utm_medium=copy_link"
              ><img
                src="/img/insta2.jpg"
                alt="instagram-tabla"
                class="instagram-img"
            /></a>
          </article>
          <article class="instagram-fast3">
            <a
              href="https://www.instagram.com/p/CbOC_kIOmfr/?utm_medium=copy_link"
              target="_blank"
              ><img
                src="/img/insta3.jpg"
                alt="instagram-tabla"
                class="instagram-img"
            /></a>
          </article>
          <article class="instagram-fast3">
            <a
              href="https://www.instagram.com/p/CbFuy_EuxC7/?utm_medium=copy_link"
              target="_blank"
            >
              <img
                src="/img/insta4.jpg"
                alt="instagram-tabla"
                class="instagram-img"
            /></a>
          </article>
        </div>
      </section>
    </main>
    <%- include ("./partials/footer")%>
  </body>
</html>
