<head>
  <%- include ("./partials/head") %>
  <title>perfil Usuario</title>
  <link rel="stylesheet" href="/css/perfil.css" />
</head>

<body>
  <%- include("./partials/header") %>
  <main>
    <div>
      <section class="section1a">
        <img class = "avatar" src="../../img/users/<%= user.imageUsuario %> " alt="" />
      </section>
      <section>
        <article class="name">
          <h3><%= user.first_name %></h3>
        </article>
        <article class="name">
          <h3><%= user.last_name %> </h3>
        </article>
        <article>
          <h3><%= user.email %></h3>
        </article>
        <article>
          <h3><%=  user.date %> </h3>
        </article>
      </section>
      
    </div>
  </main>

  <%- include ("./partials/footer") %>
</body>
