<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" href="/css/detail.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap"
      rel="stylesheet"
    />
    <title>Pato Crearte</title>
  </head>
  <body>
    <%- include("./partials/header") %>

    <main class="main-pd">
      <!-- Detalle de producto -->
      <h2>
        <%= typeProduct.name%> <% for (let i = 0; i < typeProduct.length; i++) {
        %> <%if(typeProduct[i].id_type == product.id_type){ %>
        <h2><%=typeProduct[i].name%></h2>
        <%}%> <%}%>
      </h2>
      <section class="main-detail">
        <article class="main-detail-product">
          <img
            src="/img/<%= product.product_image %>"
            alt="Foto-Producto"
            class="img-detail"
          />
        </article>
        <div class="main-detail-lateral">
          <div class="main-detail-info-pay">
            <h1><%= product.name %></h1>
            <p class="detail-price">$<%= product.price %></p>
            <p class="detail-discount"><%= product.discount %>%OFF</p>

            <p class="detail-finance">
              en 12x $300 sin interés <i class="fa-solid fa-credit-card"></i>
            </p>
          </div>
          <form
            name="compra"
            class="main-detail-info-buy"
            action="#"
            method="POST"
          >
            <p>
              <i class="fa fas fa-circle-check"></i><%= product.stock %>
              disponibles
            </p>
            <input
              class="input-cant"
              type="number"
              value="cantidad"
              min="0"
              max="10"
            />

            <button type="submit" class="button-submit-estatico">
              Agregar al carrito<i class="fa-solid fa-cart-arrow-down"></i>
            </button>
          </form>
          <form class="main-detail-info-ship">
            <select class="main-select" name="provincia">
              <option value="sanJuan">San Juan</option>
              <option value="caba">CABA</option>
              <option value="cordoba">Córdoba</option>
            </select>
            <button class="button-submit-estatico">Calcular</button>
            <p>
              <i class="fa-solid fa-truck"></i> Llega el martes 19 de abril por
              $700
            </p>
            <p>Descripción del producto</p>
            <p><%= product.description %></p>
          </form>
        </div>
      </section>
      <!-- Articulos que te recomendamos -->
      <h2>Te recomendamos</h2>

      <section class="main-recomend">
        <% productsInSale.forEach(product => { %>
        <%-include("./partials/product2",{product:product}) %> <% }); %>
      </section>
    </main>
    <%- include ("./partials/footer") %>
  </body>
</html>
