<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/productForm.css" />
  </head>
  <body>
    <div class="contenedor">
      <nav class="nav-list">
        <div class="admin">Administrador</div>
        <ul class="menu-items">
          <li><a href="#">Administrar Pedido</a></li>
          <li><a href="#">Administrar Usuarios</a></li>
          <li><a href="#">Crear Producto</a></li>
          <li><a href="#">Modificar Producto</a></li>
          <li>
            <a href="#">Cerrar sesión <i class="fas fa-sign-in"></i></a>
          </li>
        </ul>
        <span class="burguer">
          <i class="fas fa-bars"></i>
        </span>
      </nav>

      <div class="contenedor-form">
        <form
          class="form"
          action="/producto/edit/<%= productToEdit.id_product %>?_method=PUT "
          enctype="multipart/form-data"
          method="post"
        >
          <div class="titulo-form">
            <h1>
              Estás editando: <br />
              <i><%= productToEdit.name %> </i>
            </h1>
          </div>
          <div class="contenedor-hijo">
            <label class="titulo" for="">Nombre del Producto</label>
            <input type="text" name="name" value="<%= productToEdit.name %> " />
          </div>
          <div class="contenedor-hijo-descripcion">
            <label class="titulo" for="">Breve descripción</label>
            <div class="descripcion">
              <textarea
                name="descripcion"
                id=""
                cols="30"
                rows="10"
                name="description"
              >
 <%=  productToEdit.description %> </textarea
              >
            </div>
          </div>
          <div class="contenedor-hijo">
            <label class="titulo" for="">Imagen del producto</label>
            <input class="boton-img" type="file" name="imagen" />
          </div>
        <div class="contenedor-opc">
          <div class="col-12-col-md-6">
            <label for="category" class="form-label">Categoría:</label>
            <select name="category" id="category" class="form-input">
              <option value=""selected="<%= productToEdit.category == "" %>">Elegí</option>
              <option value="nuevo" selected="<%= productToEdit.category == "nuevo" %>">Nuevo</option>
              <option value="ofertas" selected="<%= productToEdit.category == "ofertas" %>">Oferta</option>
              <option value="Mas vendido" selected="<%= productToEdit.category == "masVendido" %>">Mas vendido</option>
            </select>
          </div>
          <div class="col-12-col-md-6">
            <label for="types" class="form-label">Sección:</label>
            <select name="types" id="types" class="form-input">
              <option value=""selected="<%= productToEdit.types == "" %>">Elegí</option>
              <option value="bowls" selected="<%= productToEdit.types == "bowls" %>">Bowls</option>
              <option value="posa vasos" selected="<%= productToEdit.types == "posa vasos" %>">Posa vasos</option>
              <option value="platos" selected="<%= productToEdit.types == "platos" %>">Platos</option>
              <option value="pizzera" selected="<%= productToEdit.types == "pizzera" %>">Pizzera</option>
              <option value="Asado" selected="<%= productToEdit.types == "asado" %>">Asado</option>
              <option value="tabla_corta" selected="<%= productToEdit.types == "tabla_corta" %>">Tabla_corta</option>
              <option value="tabla_larga" selected="<%= productToEdit.types == "tabla_larga" %>">Tabla_larga</option>
            </select>
          </div>
        </div>
        <section class="precio-final">
          <div class="contenedor-hijo-b">
            <label class="titulo" for="price">Precio:</label>
            <input
              class="precio"
              type="text"
              id="price"
              name="price"
              value="<%=  productToEdit.price%>"
            />$
          </div>
          <div class="contenedor-hijo-b">
            <label class="titulo" for="discount">Descuento:</label>
            <input
              class="precio"
              type="text"
              id="discount"
              name="discount"
              
              value="<%=  productToEdit.discount%>"
            />%
          </div>
          <div class="contenedor-hijo-b">
            <label class="titulo">Stock:</label>
            <input
              class="precio"
              type="number"
              id="stock"
              name="stock"
              placeholder="Ej. 10"
              value="<%=  productToEdit.stock%>"
            />Uni
          </div>
        </section>
          <div class="contenedor-hijo-c">
            <button type="submit">Guardar producto</button>
          </div>
        </form>
        <form
          action="/producto/<%= productToEdit.id_product %>?_method=DELETE"
          method="POST" class="delete"
        >
          <button type>Eliminar</button>
        </form>
      </div>
    </div>
  </body>
</html>
