<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/productForm.css" />
  </head>
  <body>
    <div class="contenedor">
      <nav class="nav-list">
        <div class="admin">Administrador</div>
        <ul class="menu-items">
          <li><a href="#">Administrar Pedido</a></li>
          <li><a href="#">Administrar Usuarios</a></li>
          <li><a href="#">Crear Producto</a></li>
          <li><a href="#">Modificar Producto</a></li>
          <li>
            <a href="#">Cerrar sesión <i class="fas fa-sign-in"></i></a>
          </li>
        </ul>
        <span class="burguer">
          <i class="fas fa-bars"></i>
        </span>
      </nav>
      <div class="contenedor-form">
        <form
          class="form"
          id="form-product-edit"
          action="/producto/edit/<%= productToEdit.id_product %>?_method=PUT "
          enctype="multipart/form-data"
          method="post"
        >
          <div class="titulo-form">
            <h1>
              Estás editando: <br />
              <i><%= productToEdit.name %> </i>
            </h1>
          </div>
          <div class="contenedor-hijo">
            <label class="titulo" for="">Nombre del Producto</label>
            <input
              type="text"
              name="name"
              id="name"
              value="<%= productToEdit.name %> "
            />
            <div class="text-denger" id="danger-name"></div>
            <% if (locals.errors && errors.name) { %>
            <div class="text-denger"><%= errors.name.msg %></div>
            <% } %>
          </div>

          <div class="contenedor-hijo-descripcion">
            <label class="titulo" for="">Breve descripción</label>
            <div class="descripcion" id="descripcion">
              <textarea
                name="descripcion"
                id="descripcion-ta"
                cols="30"
                rows="10"
                name="description"
              >
                    <%=  productToEdit.description %> </textarea
              >
              <div class="text-denger" id="danger-description"></div>
              <% if (locals.errors && errors.description) { %>
              <div class="text-denger"><%= errors.description.msg %></div>
              <% } %>
            </div>
          </div>

          <div class="contenedor-hijo">
            <label class="titulo" for="">Imagen del producto</label>
            <input class="boton-img" type="file" name="imagen" id="imagen" />
            <div class="text-denger" id="danger-image"></div>
          </div>
          <div class="contenedor-opc">
            <div class="col-12-col-md-6">
              <label for="category" class="form-label">Categoría:</label>
              <select name="category" id="category" class="form-input">
                <% for (let i = 0; i < category.length; i++) { %>
                <option value="<%= category[i].id_category %>">
                  <%=category[i].name%>
                </option>
                <%}%>
              </select>
            </div>
            <div class="col-12-col-md-6">
              <label for="types" class="form-label">Sección:</label>
              <select name="types" id="types" class="form-input">
                <% for (let i = 0; i < typess.length; i++) { %>
                <option value="<%= typess[i].id_type %>">
                  <%=typess[i].name%>
                </option>
                <%}%>
              </select>
            </div>
          </div>
          <div class="text-denger" id="danger-price"></div>
          <div class="text-denger" id="danger-stock"></div>
          <section class="precio-final">
            <div class="contenedor-hijo-b">
              <label class="titulo" for="price">Precio:</label>
              <input
                class="precio"
                type="text"
                id="price"
                name="price"
                value="<%=  productToEdit.price%>"
              />$ <% if (locals.errors && errors.price) { %>
              <div class="text-denger"><%= errors.price.msg %></div>
              <% } %>
            </div>
            <div class="contenedor-hijo-b">
              <label class="titulo" for="discount">Descuento:</label>
              <input
                class="precio"
                type="text"
                id="discount"
                name="discount"
                value="<%=  productToEdit.discount%>"
              />%
            </div>
            <div class="contenedor-hijo-b">
              <label class="titulo">Stock:</label>
              <input
                class="precio"
                type="number"
                id="stock"
                name="stock"
                placeholder="Ej. 10"
                value="<%=  productToEdit.stock%>"
              />Uni <% if (locals.errors && errors.stock) { %>
              <div class="text-denger"><%= errors.stock.msg %></div>
              <% } %>
            </div>
          </section>
          <div class="contenedor-hijo-c">
            <button type="submit" id="btnSubmit">Guardar producto</button>

            <form
              action="/producto/<%= productToEdit.id_product %>?_method=DELETE"
              method="POST"
              class="delete"
            >
              <button type>Eliminar</button>
            </form>
          </div>

          <script src="/js/productEditValidation.js"></script>
        </form>
      </div>
    </div>
  </body>
</html>
