<head>
  <%- include ("./partials/head") %>
  <title>Perfil Usuario</title>
  <link rel="stylesheet" href="/css/useredit.css" />
</head>

<body>
  <%- include("./partials/header") %>
  <main>
    <div>
      <div class="contenedor-form">
          <section class="section1a">
            <% if (userToEdit.user_image != 'default-image.png') { %>
              <img
                class="avatar"
                src="/img/users/<%= userToEdit.user_image %> "
                alt="avatar"
              />
              <% }else{%>
      
              <img class="avatar" src="/img/users/userAvatar2.png" alt="avatar" />
              <% } %>
            </section>
        <form
          class="form"
          action="/user/edit/<%= userToEdit.id_user %>?_method=PUT "
          enctype="multipart/form-data"
          method="post"
        >
          <div class="titulo-form">
            <h1>
              Editar Perfil <br />
              <i><%= userToEdit.first_name %> </i>
            </h1>
          </div>
          <div class="contenedor-hijo">
            <label class="titulo" for="">Nombre del Usuario</label>
            <input type="text" name="firs_name" value="<%= userToEdit.firs_name %>" />
          </div>
          <div class="contenedor-hijo">
            <label class="titulo" for="">Apellido del usuario</label>
            <input type="text" name="last_name" value="<%= userToEdit.last_name %>" />
          </div>
          <div class="contenedor-hijo">
            <label class="titulo" for="">Email</label>
            <input type="email" name="email" value="<%= userToEdit.email %>" />
          </div>
          <div class="contenedor-hijo">
            <h3>Fecha de Nacimiento</h3>
            <label for="date"></label>
            <input
              type="date"
              name="date"
              id="date"
              placeholder="dd"
              value="<%= userToEdit.date %>"
            />
            </div>
            <div class="contenedor-hijo">
              <label class="titulo" for="">Imagen Avatar</label>
              <input class="boton-img" type="file" name="imagen" />
            </div>
            <section class="botones">
              <div class="contenedor-hijo-c">
                <button type="submit">Guardar</button>
              </div>
          </section>
          </form>  
        </div>
      </div>
    </div>
  </main>
</body> 
      <!-- <section class="section1a">
        <% if (userToEdit.user_image != 'default-image.png') { %>
        <img
          class="avatar"
          src="/img/users/<%= userToEdit.user_image %> "
          alt="avatar"
        />
        <% }else{%>

        <img class="avatar" src="/img/users/userAvatar2.png" alt="avatar" />
        <% } %>
      </section>
      <section>
        <article>
          <div>
            <i class="fas fa-user"></i>

            <h3 class="b"><%= userToEdit.first_name %> <%= userToEdit.last_name %></h3>
          </div>
        </article>

        <article>
          <div>
            <i class="fas fa-envelope"></i>
            <h3 class="b"><%= userToEdit.email %></h3>
          </div>
        </article>
        <article>
          <% if (userToEdit.date != '') { %>
          <div>
            <i class="far fa-calendar-alt"></i>
            <h3 class="b"><%= userToEdit.date %></h3>
          </div>

          <% }else{ %>
          <div>
            <i class="far fa-calendar-alt"></i>
            <h3 class="b">no configuro su fecha</h3>
          </div>

          <% } %>
        </article>
      </section> -->

