<article class="main-recomend-product">
  <a href="/producto/detalle"
    ><img src="/img/<%= product.image%>" alt="Producto1" class="img-detail" />
  </a>
  <h4><%= product.types %></h4>
  <a href="/producto/detalle"><h3><%= product.name%></h3></a>
  <p class="detail-price2"><%= product.price%></p>
  <% if (product.discount!==null) { %>
  <p class="detail-discount"><%= product.discount%>%OFF</p>
  <% } %>
  <button type="submit" class="button-submit">
    Agregar al carrito<i class="fa-solid fa-cart-arrow-down"></i>
  </button>
</article>
