<article class="main-recomend-product">
  <a href="/producto/detalle"><img
    src="/img/<%= productRecomen[i].img%>.jpg"
    alt="Producto1"
    class="img-detail"
  />
  </a>
  <h4>Platos</h4>
  <a href="/producto/detalle"><h3><%= productRecomen[i].title%></h3></a>
  <p class="detail-price2">$<%= productRecomen[i].price%></p>
  <% if (productRecomen[i].descuento!==0) { %>
  <p class="detail-discount"><%= productRecomen[i].descuento%>%OFF</p>
  <p class="detail-finance">
    en <%= productRecomen[i].cuotas%>x $<%= productRecomen[i].valorCuota()%> sin
    interés
    <i class="fa-solid fa-credit-card"></i>
  </p>
  <% } %>

  <button type="submit" class="button-submit" onclick="launch_toast()">
    Agregar al carrito<i class="fa-solid fa-cart-arrow-down"></i>
  </button>
</article>
